<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">HTTPR Hospital</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <%if(admin.username){%>
                    <ul class="nav navbar-nav">
                      <li><form action="/patient" method="GET">
                        <input style="border: 0px; margin-top:12px; margin-left: 10px ;" type="submit" value="Patient"></input>
                      </form></li>
                      <li><form action="/employees" method="GET">
                        <input style="border: 0px; margin-top:12px; margin-left: 10px ;" type="submit" value="Employees"></input>
                      </form></li>
                      <li><form action="/drugsuppliers" method="GET">
                        <input style="border: 0px; margin-top:12px; margin-left: 10px ;" type="submit" value="Drug Suppliers"></input>
                      </form></li>
                      <li><form action="/branch" method="GET">
                        <input style="border: 0px; margin-top:12px; margin-left: 10px ;" type="submit" value="Branches"></input>
                      </form></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <form action="/logout" method="GET">
                          <input style="border: 0px; margin-top:12px; margin-left: 10px ; background-color: gainsboro" type="submit" value="Logout"></input>
                      </form>
                      <!-- <li><a href="/landing.ejs">LogOut</a></li> -->
                    </ul>
                    <%}%>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>